<table id="tasksTable">


  <!--<tr>
    <th>Finished?</th>
    <th>ID</th>
    <th>Description</th>
    <th>Owner ID</th>
    <th>Duration</th>
    <th>Finished?</th>
    <th>Time left</th>
    <th>Add time</th>
  </tr>-->

<% @tasks.each do |task| %>

  <tr id="taskEntry<%= task.id %>">

    <td><input id="checkbox<%= task.id %>" type="checkbox" onclick="checkOff(<%=task.id%>)" 
	       <%= "checked" if task.is_finished %> <%= "disabled" if task.is_finished or task.started_at.nil? %>/></td>

    <!--<td><%= task.id %></td>-->

    <td class="<%= task.is_finished ?  'task_description, done' : 'task_description' %>"><%=h task.description %></td>

    <!--<td><%=h task.user_id %></td>-->

    <td id="duration"><%=h task.duration %> min</td>

    <!--<td>
      <% if task.is_finished %>
        <div class="task_done"><br/></div>
      <% else %>
        <div class="task_not_done"><br/></div>
      <% end %>
    </td>-->

    <td>
      &nbsp;
      <% if task.started_at.nil?%>
        <%= link_to 'Start', {:action => "start", :task_id => task.id} %>
      <% elsif task.is_finished? %>
        -
      <% else %>
        <span id="timer<%=h task.id %>"></span>
        <script type="text/javascript">startTimer('<%=h "timer" + task.id.to_s %>');</script>
      <% end %>
    </td>

    <td><%= (task.started_at.nil? or task.is_finished?) ? '&nbsp;' : link_to('Add time', add_time_path(task)) %></td>

    <noscript><td><%= link_to 'Edit', edit_task_path(task) %></td></noscript>

    <td><%= link_to image_tag("cross.png", :border=>0, :alt=>'Delete task', :title=>'Delete task'), task, :confirm => 'Are you sure?', :method => :delete %></td>

  </tr>
<% end %>
</table>
