<script type="text/javascript">
  function breakDown() {
    alert(1);
  }

  jQuery(document).ready(
    function() {
      jQuery("input#first,input#second").focus(function() { jQuery(this).css('background-color','#f9f8e4');});
      jQuery("input#first,input#second").blur(function() { jQuery(this).css('background-color','white'); });
      });
</script>

<h1><strong>You didn't complete the task...</strong></h1>
<div id="table_container">
<p>

  <div>
    <% if flash[:error] %>
      <span id="errorExplanation"><%= flash[:error] %></span>
      <br /><br />
    <% end %>
    <% form_tag :action => "add_tasks" do %>
      <%= hidden_field_tag "id", @task.id %>
      <%= text_field_tag "first", nil, :placeholder => "Smaller subtask" %>
      <br />
      <%= text_field_tag "second", nil, :placeholder => "Another smaller subtask" %>
      <br />
      <%= submit_tag "Break it down!" %>
      <br /> <br />
    <% end %>
  </div>
</p>
<p>
  Or you could <%= link_to 'add more time.', add_time_path(@task) %>
</p>

<%= link_to 'Back', tasks_path %>
</div>
