<% content_for :title, "Tasks" %>

<script type="text/javascript">
  function startTimer(elementID) {
    var ajax_updater = new Ajax.PeriodicalUpdater(
      elementID,
      '/tasks/time_left/' + elementID.substring(5).toString(),
      { method: 'get', frequency: 30, decay: 1 }
    );
    setInterval('checkTime("' + elementID.substring(5).toString() + '")', 5000);
  }
  function checkTime(taskId) {
    var timeLeft = parseInt(document.getElementById('timer' + taskId).innerHTML);
    if (timeLeft == 0) {
      fail(taskId);
    }
  }
  function fail(taskId) {
    window.location = '/tasks/fail/' + taskId;
  }
  function checkOff(taskId) {
    new Ajax.Request('/tasks/finish/' + taskId, { method: 'post' })
    taskDescription = $$('#taskEntry' + taskId + ' td')[0];
    if (taskDescription.className.indexOf('done') == -1) {
      taskDescription.className += 'done';
      Field.disable('checkbox' + taskId);
      ajax_updater.stop();
    }
    else {
      taskDescription.className = taskDescription.className.replace('done', '');
      ajax_updater.stop();
    }
  }

  function save_edit() {
    alert('saving');
    return false;
  }
  Event.observe(window, 'load', function() {
    $$('.task_description').each(function(td, index) {
      td.id = 'td' + index;
      Event.observe(td.id, 'click', function() {
        if (td.getElementsByTagName('input').length != 0) return;
        td.innerHTML = '<form onsubmit="save_edit"><input id="current" type="text" value="' + td.innerHTML + '" onblur="save_edit()"/></form>';
        td.getElementsByTagName('input')[0].focus();
      });
    });
    //Event.observe('signinForm', 'submit', checkForm);
  });
 
</script>

<style type="text/css">
.done { text-decoration: line-through; color: #999; }
</style>

<h1>
  <!--
  <%= image_tag "turtle.gif" %>
  Constant Win-->
  Listing tasks
</h1>

<% form_tag(:controller => "tasks", :action => "create") do %>
  <%= text_field_tag(:task_description, nil, :size => "30", :name => "task[description]") %>
  <%= submit_tag("Add task") %>
<% end %>

<br />

<div id="table_container">

<%= render :partial => "task_list" %>

<br />

<p>
<!--<%= link_to 'New task', new_task_path %>-->
</p>

</div>
