<% content_for :title, "Tasks" %>

<script type="text/javascript">
  function startTimer(elementID) {
    var ajax_updater = new Ajax.PeriodicalUpdater(
      elementID,
      '/tasks/time_left/' + elementID.substring(5).toString(),
      { method: 'get', frequency: 30, decay: 1 }
    );
    setInterval('checkTime("' + elementID.substring(5).toString() + '")', 5000);
  }
  function checkTime(taskId) {
    var timeLeft = parseInt(document.getElementById('timer' + taskId).innerHTML);
    if (timeLeft == 0) {
      fail(taskId);
    }
  }
  function fail(taskId) {
    window.location = '/tasks/fail/' + taskId;
  }
  function checkOff(taskId) {
    new Ajax.Request('/tasks/finish/' + taskId, { method: 'post' })
    taskDescription = $$('#taskEntry' + taskId + ' td')[0];
    if (taskDescription.className.indexOf('done') == -1) {
      taskDescription.className += 'done';
      Field.disable('checkbox' + taskId);
      ajax_updater.stop();
    }
    else {
      taskDescription.className = taskDescription.className.replace('done', '');
      ajax_updater.stop();
    }
  }
</script>

<style type="text/css">
.done { text-decoration: line-through; color: #999; }
</style>

<h1>
  <!--
  <%= image_tag "turtle.gif" %>
  Constant Win-->
  Listing tasks
</h1>
<div id="table_container">
<table id="tasksTable">
  <tr>
    <th>ID</th>
    <th>Description</th>
    <th>Owner ID</th>
    <th>Duration</th>
    <th>Finished?</th>
    <th>Time left</th>
    <th>Add time</th>
  </tr>

<% @tasks.each do |task| %>
  <tr id="taskEntry<%= task.id %>">
    <td><%= task.id %></td>
    <td class="<%= task.is_finished ?  'done' : '' %>"><%=h task.description %></td>
    <td><%=h task.user_id %></td>
    <td><%=h task.duration %></td>

    <td>
      <% if task.is_finished %>
        <div id="task_done"><br/></div>
      <% else %>
        <div id="task_not_done"><br/></div>
      <% end %>
    </td>

    <td>
      <% if task.started_at.nil?%>
        <%= link_to 'Start', {:action => "start", :task_id => task.id} %>
      <% elsif task.is_finished? %>
        -
      <% else %>
        <div id="timer<%=h task.id %>"></div>
        <script type="text/javascript">startTimer('<%=h "timer" + task.id.to_s %>');</script>
      <% end %>
    </td>

    <td><%= (task.started_at.nil? or task.is_finished?) ? '-' : link_to('Add time', add_time_path(task)) %></td>

    <td><%= link_to 'Edit', edit_task_path(task) %></td>

    <td><%= link_to 'Delete', task, :confirm => 'Are you sure?', :method => :delete %></td>

    <td><input id="checkbox<%= task.id %>" type="checkbox" onclick="checkOff(<%=task.id%>)" 
	       <%= "checked" if task.is_finished %> <%= "disabled" if task.is_finished or task.started_at.nil? %>/></td>

  </tr>
<% end %>
</table>

<br />

<p>
<%= link_to 'New task', new_task_path %>
</p>

</div>
