<h1>Check out the task!</h1>
<div id="table_container">
<p>
  <b>Description:</b>
  <%=h @task.description %>
</p>

<p>
  <b>Duration:</b>
  <%=h "#{@task.duration} minutes" %>
</p>

<p>
  <b>Owner:</b>
  <%=h "#{@task.user_id} (#{@task.user.login})" %>
</p>

<p>
  <b>Is finished:</b>
  <%=h @task.is_finished %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
</div>
