<% content_for :title, "Start Task" %>
<script type="text/javascript">
  jQuery(document).ready(
    function() {
      jQuery("input#task_duration").focus(function() { jQuery(this).css('background-color','#f9f8e4');});
      jQuery("input#task_duration").blur(function() { jQuery(this).css('background-color','white'); });
      });
</script>
<div id="table_container">
<p id="minutes">
  <b>Starting:</b>
  <%=h @task.description %>
</p>

<% form_for @task, :url => { :action => 'start_task', :id => @task.id } do |f| %>
  <%= f.error_messages %>
  <p id="minutes">
    <%= f.text_field :duration %> minutes
  </p>
  <p>
    <%= f.submit 'Start!' %>
  </p>
<% end %>

<%= link_to 'Back', tasks_path %>
</div>
