<div id="userStatus">
<% if logged_in? -%>

  <% if @current_user and @current_user.facebook_user? %>
    <!-- FACEBOOK PROFILE PICTURE -->
    <fb:profile-pic uid="<%= current_user.fb_user_id%>" facebook-logo="true" size="thumb" ></fb:profile-pic>
  
    <span id="user-bar-greeting">Hi <%= link_to_current_user :content_method => :name %>!</span>
    <!-- <span id="user-bar-action">(<%= fb_logout_link("Log out", logout_path)%>)</span> -->
    
    <!-- OLDER line, can delete -->
    <span id="user-bar-action"><a href="#" onclick='FB.Connect.logoutAndRedirect("/sessions/destroy")'>Log out</a>
    <!-- <span id="user-bar-action">(<%= link_to "Log out", logout_path, { :title => "Log out" } %>)</span> -->
    
  <% else %>
    <span id="user-bar-greeting">Hi <%= link_to_current_user :content_method => :name %>!</span>
    <span id="user-bar-action">(<%= link_to "Log out", logout_path, { :title => "Log out" } %>)</span>

  <% end %>

<% else -%>
  <!--<span id="user-bar-greeting"><%= link_to_login_with_IP 'Not logged in', :style => 'border: none;' %></span>-->
  <span id="user-bar-action"  ><%= link_to "Log in",  login_path,  { :title => "Log in" } %> |
                               <%= link_to "Sign up", signup_path, { :title => "Create an account" } %></span>
<% end -%>
</div>
