<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>ConstantWin / <%= yield(:title) %></title>
  <!-- TODO: Add default JavaScript and CSS tags -->
  <%= stylesheet_link_tag 'base' %>
  <%= stylesheet_link_tag 'calendarview' %>
  <%= javascript_include_tag 'jquery-1.4.3.min' %>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<link href='http://fonts.googleapis.com/css?family=Puritan' rel='stylesheet' type='text/css'>
  
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'base' %>
  <%= javascript_include_tag 'calendarview' %>
</head><body>

<%= fb_connect_javascript_tag %>
<%= init_fb_connect "XFBML" %>

<div id="wrapper">

  <div id="header">

    <div id="masthead"><a href="/"><h1>ConstantWin</h1></a></div>

    <%= render :partial => '/users/user_bar' %>

  </div>

  <% if false %> 
  <!-- comment out below -->
  <%= render :partial => '/layouts/navigation' %>
  <!-- end comment -->
  <% end %>
  
  <div id="content">
		
  <% if flash[:notice] %>
    <p id="flash_notice"><%= flash[:notice] %></p>
  <% end %>

  <% if flash[:error] %>
    <p id="flash_error"><%= flash[:error] %></p>
  <% end %>

  <%= yield %>

  </div>

  <div id="footer">

    <!--<p><tt>v0.01alpha</tt>.--> Created by the <a href="/about">ConstantWin team</a>.</p>

  </div>

</div>

</body></html>

